<%inherit file="../../main.html" />
<!--Bharat Moocs Added on 23 Sep for language option -->
<%include file='../../modal/_modal-settings-language.html'/>
<%! from microsite_configuration import microsite %>
<%namespace name='static' file='../../static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>

<%block name="pagetitle">${_("About")}</%block>
<%block name="bodyclass">about_page_en</%block><!--IITBombayX-2016 Nitin Ayer, block is added to identify CSS in SCSS files-->
<!--IITBombayX-2016, CSS for this page is written in _about_page.scss inside theme folder by Nitin Ayer-->

<html>
<head>
</head>
<body>

<section class="container about">
	<div class="main_content">
		<div class="banner"><img src=${static.url('themes/'+settings.THEME_NAME+'/images/about-us.png')} width="960px"></div>
    			<div class="wrapper">
       				<div class="wrapper-container">
       					<div class="wrapper-inner">
        					<div class="inner-class">
                					<div class="inner-content">
								<table border="0" width="960px;" cellpadding="0" cellspacing="0">

								<tr>

								<td class ="table_column01" width="217px" valign="top">
								<div class="sidebar">

								<ul class="sidemenu">
								<li><a class="links-active" href="${marketing_link('ABOUT')}">ABOUT</a></li>
								<li><a class="links" href="${marketing_link('RESEARCH')}">RESEARCH & PEDAGOGY</a></li>
								<li><a class="links" href="#" target="_blank">BLOG</a></li>
								<li><a class="links" href="#" target="_blank">NEWS</a></li>
								<li><a class="links" href="${marketing_link('FAQ')}">LEARNERS FAQ</a></li>
								<li><a class="links" href="${marketing_link('IITBOMBAYX_FAQ')}">${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} FAQ</a></li>
								<!-- IITBombayX Cypress Dec 2015 -->
								<li><a class="links" href="${marketing_link('MEMBER')}">Team</a></li>
								<li><a class="links" href="${marketing_link('CONTACT')}">CONTACT US</a></li>
								</ul>

								</div>
								</td>

								<td class ="table_column02" width="743px">
								<section class="inner-section">

								<h2 class="field-page-tagline view-mode-full">We're empowering learning in the classroom and around the world.</h2>

								<div class="field-page-body view-mode-full">

								<p>At ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)}, we believe in the highest quality education, both online and in the classroom.</p>

								<p>${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} has been created for learners and institutions that seek to transform themselves through cutting-edge technologies, innovative pedagogy and rigorous courses.</p>

								<p>Through our institution, we present the best of higher education online, offering opportunities to anyone who wants to thrive, grow and achieve.</p>

								<p>Our goals, however, go beyond offering courses and free content to the learners. We are committed to research that will allow us to understand how learners get trained, how technology can transform learning, and the ways faculty and professors employ to teach on campus and beyond.</p>                            

								<p>As innovators and experimenters, we want to share what we discover. The ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} platform is available as open-source. By conducting and publishing significant research on how learners get trained, we will empower and inspire educators around the world and promote success in Indian massive open online learning.</p>

								<p>Our aim is to become a leading resource for learners by staying focused on the goals and principles set forth, when forming ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)}.</p>

								<p><strong> Our goals</strong></p>

								<ul class="ul-class">
								<li>Expand access to education for learners spread across far-flung /remote areas</li>
								<li>Enhance teaching and learning on campus and online</li>
								<li>Advance teaching and learning through research work</li>
								<li>Spread quality education wherever there is internet access</li>
								</ul>

								<p><strong>Our principles</strong></p>

								<ul class="ul-class">
								<li>Non-profit</li>
								<li>Open-source platform</li>
								<li>Collaborative effort</li>
								<li>Free online quality education to all age groups</li>
								</ul>

								</div>
								</section>
								</td>

								</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</section>

</body>
</html>
