<%inherit file="../../main.html"/>
<%namespace name='static' file='static_content.html'/>
<%include file='../../modal/_modal-settings-language.html'/>
<%! from django.utils.translation import ugettext as _ %>
<%!
  from django.core.urlresolvers import reverse
  from django.conf import settings
  from edxmako.shortcuts import marketing_link
  from courseware.models import Organization
%>
<%namespace name='static' file='../../static_content.html'/>
<%! from microsite_configuration import microsite %>

<!--Updated by Bab-->

<%block name="pagetitle">${_("Partners")}</%block>
<%block name="bodyclass">partners_page_hi</%block><!--IITBombayX-2015 Nitin Ayer, block is added to identify CSS in SCSS files-->

<!--IITBombayX-2015, CSS for this page is written in _partner_page.scss inside theme folder by Nitin Ayer-->

<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
</head>
<body>

<div class="wrapper">
	<div class="wrapper-inner">
		<div class="container">
			<div class="columns">
				<div class="content-column">
					<div class="content-inner">
						<section class="main-content">
							<div class="region">
								<div class="block">
									<article class="node node-page article clearfix">
									<div class="node-content">

									<h2 class="field-page-tagline">सहभागी</h2>

									<div class="field-page-body">

									<p>${('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} में हम श्रेष्ठतम गुणवत्ता के पाठ्यक्रमों की पेशकश में विश्वास करते हैं, और हमारे पारम्परिक एवं ऑनलाइन दोनों कक्षाओं में उत्कृष्ठ शिक्षण एवं सीखने की उत्कृष्ठता के लिये प्रतिबद्धता का सांझा करते हैं।</p>

									<ul class="item-list-third">

									<li><p class="list-label">${courses}</p>
									<p>विभिन्न  क्षेत्रों में अध्ययन हेतु पाठ्यक्रम</p></li>

									<li><p class="list-label">${staff}</p>
									<p>प्राध्यापकों एवं शिक्षकों द्वारा पाठ्यक्रम का ऑनलाइन शिक्षण एवं चर्चा</p></li>

									<li><p class="list-label">${generatedcertificate}</p>
									<p>सम्पूर्ण हुए पाठ्यक्रमों के कुल शिक्षार्थी</p></li>
									</ul>
                        				
									</div>
									</div>
									</article>
								</div>

								<div class="block-views-members">
									<div class="view">
										<div class="view-header">
										<!--<a name="charter-members"></a>
										<h2 class="members-header"><span style="font-size:1em; font-weight:700; font-family: 'Ek Mukta', 'Open Sans', sans-serif; letter-spacing:0px;">सहभागी</span></h2>
										<p style="font-size: 0.8em;line-height: 1.5em;margin: 0px 0px 1em; text-align:center; font-family: 'Ek Mukta', 'Open Sans', sans-serif;">स्‍वयम् के प्‍लेटफार्म पर हमारे सहभागी विश्‍वविद्यालय एवं शैक्षिक संस्‍थान।</p> -->
										</div>
				
										<div class="view-content">
										<ul class="member-list">
										%for org1 in org:
										<li class="views-row-odd views-row-first member member-tile member-founder ">

										<div class="member-logo">
										<a href="/organization/${org1.org_id}"  target="_blank">
                                                                                <img typeof="foaf:Image" class="image-style-none" src=${static.url('themes/'+settings.THEME_NAME+org1.image_name)}  width="200px" height="101px" alt="${org1.org_name}" title="${org1.org_name}" /></a>
										</div>
										<div class="member-label">${org1.org_id}</div>

										</li>
		        							%endfor
										</ul>
										</div>
										</div>
									<div>
								</div>

								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
