//IITBombayX-2015, This file is created by Nitin Ayer, it contains CSS related to courselist.html page.

.courselist_page {
 header.global{
  position: fixed;
  top: 0px;
 }

  header.global nav {
   width: 960px;
 }
 .wrapper-footer footer {
   width: 960px !important;
 }

 .wrapper-footer footer .open-edx_logo, #footer-openedx .open-edx_logo {
   padding-top: 40px !important;
 }

 .content-wrapper{
  padding-bottom: 0px;
  margin-top: 77px;
 }

 .wrapper-container{
  width: 960px;
  height: auto;
  margin: auto;
  padding: 0px 0px 20px;
  overflow: hidden;
  background: $white;
 }

 .banner-image{
  margin: 0px 0px 25px 0px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  height: 195px;
 }

 .info-text{
  width: auto;
  height: 100%;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
 }

 .info p{
  margin: 0px 0px 1em;
  font-family: $font_family1;
  font-size: 16px;

  span {
   font-family: $font_family2;
  }
 }

 .pagination {
  margin: auto;
  width: auto;
  text-align: center;
  font-family: $font_family1;
  padding-bottom: 20px;
 }

 .pagination span a{
  text-decoration: none !important;
 }

 .inner_region_content{
  margin: 0px;
  padding: 20px;
 }

 .view_content{
  width: 100%;
 }

 .view_row_course{
  width: 100%;
  border: 1px solid $border-color-l1;
  color: $gray-4;
  margin-bottom: 30px;
  min-width: 262px;
  display: inline-block;
  word-wrap: break-word;
 }

 .left_course_view_fieldset{
  max-width: 630px;
  padding: 10px;
  width: 630px;
  display: inline-block;
  float: left;
 }

 .right_course_view_fieldset{
  border-left: 1px solid $border-color-l1;
  float:right;
  //position: relative;
  //width: 265px;
  max-width: 265px;
  display: inline-block;
  float: right;
 }

 #multilinedText {
  //margin: 50px;
  //padding: 10px;
  //width: 180px;
  height: 90px;
  text-align: justify;
  line-height: 1.4em;
 }

 .view_header{
  color: $gray-4;
  font-family: $font_family1;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0px 0px 16px 0px;
  word-wrap: break-word;
 }

 .view_header strong{
  color: $black;
  font-family: $font_family1;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word;
 }

 .new_course_ribbon{
  color: $gray-4;
  font-family: $font_family1;
  font-size: 16px;
  font-weight: 400;
  height: 29px;
  line-height: 24px;
  position: absolute;
  width: 30px;
  word-wrap: break-word;
 }

 .image{
  color: $gray-4;
  font-family: $font_family1;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
 }

 .image a{
  color: $button-color;
  display: block;
  font-family: $font_family1;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  word-wrap: break-word;
  -moz-text-decoration-color: $button-color;
  -moz-text-decoration-line: none;
  -moz-text-decoration-style: solid;
 }

 .image_style_none{
  border: 0px none $button-color;
  color: $button-color;
  display: block;
  font-family: $font_family1;
  font-size: 16px;
  font-weight: 400;
  height: 140px;
  line-height: 24px;
  max-width: 265px;
  word-wrap: break-word;
 }

 .learnmore_link{
  bottom: 0px;
  color: $gray-4;
  font-family: $font_family1;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  //position: absolute;
  //width: 264px;
  word-wrap: break-word;
 }

  input[type="submit"]:hover:not(:disabled) {
  //color: #FFF;
  //text-decoration: none;
  background-image: none;
  background-color: $link-color;
 }

  input[type="submit"] {
  background: $m-gray none repeat scroll 0px 0px;
  border: 0px none $white;
  border-radius: 0px;
  box-sizing: border-box;
  box-shadow: none;
  width: 100%;
  color: $white;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  text-shadow: none;
  line-height: 24px;
  padding: 13px 20px;
  text-transform: none;
  letter-spacing: normal;
 }

  input[type="submit"]:focus:not(:disabled) {
  box-shadow: none !important;
 }

 .new_course_ribbon img{
  border: 0px none $gray-4;
  color: $gray-4;
  font-family: $font_family1;
  font-size: 16px;
  font-weight: 400;
  height: 22px;
  line-height: 24px;
  max-width: 30px;
  word-wrap: break-word;
 }

 .top_view_fieldset{
  color: $gray-4;
  font-size: 12.8px;
  margin: 0px;
  max-height: 140px;
  height: 140px;
  padding: 0px;
  word-wrap: break-word;
 }

 .link_courses_page{
  margin: 0px;
  padding: 0px;
  text-align: right;
  line-height: 1em;
  padding-top:8px;
 }

 .title_course_title {
  border: 0px none $m-gray-d4;
  text-transform: none;
  color: $m-gray-d4;
  font-family: $font_family1;
  font-size: 17.6px;
  font-weight: 400;
  line-height: 17.6px;
  margin: 0px;
  overflow: hidden;
  padding: 0px 0px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
 }

 strong {
  color: $gray-4;
  font-family: $font_family1;
  font-size: 17.6px;
  font-weight: 700;
  line-height: 17.6px;
  white-space: nowrap;
  word-wrap: break-word;
 }

 .title_course_title a{
  border: 0px none $gray-4;
  color: $gray-4;
  font-size: 17.6px;
  font-weight: 700;
  line-height: 17.6px;
  text-decoration: none !important;
  white-space: nowrap;
  word-wrap: break-word;
 }

 .course_sub_title{
  color: $gray-4;
  font-family: $font_family1;
  font-size: 12.8px;
  font-weight: 400;
  line-height: 19.2px;
  word-wrap: break-word;
 }

 .bottom_view_fieldset{
  background: $gray-2 none repeat scroll 0px 0px;
  color: $gray-4;
  font-family: $font_family1;
  font-size: 12.8px;
  font-weight: 400;
  //line-height: 30px;
  //margin-left: 30px;
  overflow: hidden;
  padding-left: 15px;
  word-wrap: break-word;
 }

 .bottom_view_fieldset ul li{
  display: inline-block;
  margin-right: 15px;
 }

 .clearfix{
  color: $gray-4;
  font-family: $font_family1;
  font-size: 12.8px;
  font-weight: 400;
  //line-height: 30px;
  list-style: outside none none;
  margin: 0px;
  padding: 0px;
  word-wrap: break-word;
  //display:inline-block;
 }

 .first {
  color: $gray-4;
  float:left;
  font-family: $font_family1;
  font-size: 12.8px;
  font-weight: 400;
  //line-height: 30px;
  list-style: outside none none;
  margin-right: 15px;
  word-wrap: break-word;
 }

 .label {
  color: $gray-4;
  font-family: $font_family1;
  font-size: 12.8px;
  font-weight: 700;
  line-height: 30px;
  list-style: outside none none;
  text-transform: uppercase;
  word-wrap: break-word;
 }

 .college_name {
  color: $black;
  font-family: $font_family1;
  font-size: 12.8px;
  font-weight: 700;
  line-height: 30px;
  list-style: outside none none;
  word-wrap: break-word;
 }

 .views-row{
  font-size: 16px;
 }
}
