//IITBombayX-2016, This file is created by Nitin Ayer, it contains CSS related to Learners FAQ page.
//Engish Learners FAQ page CSS

.learners_faq_en {
 header.global {
  position: fixed;
  top: 0px;
  z-index: 50;
 }

  header.global nav {
   width: 960px;
 }
 .wrapper-footer footer {
   width: 960px !important;
 }

 .wrapper-footer footer .open-edx_logo, #footer-openedx .open-edx_logo {
   padding-top: 40px !important;
 }

 .content-wrapper {
   padding-bottom: 0px;
   margin-top: 76px;
 }

 .about{
   padding: 0px !important;
 }

 .main_content{
   width: 100%;
   height: auto;
   margin: auto;
 }

 .banner{
   width: 960px;
   height: auto;
   margin: auto;
   background: $white;
   border-bottom: 1px solid $border-color-l3;
 }

 .wrapper{
   //width: 100%;
   height: auto;
   margin: auto;
   //background: #F7F7F7;
 }

 .wrapper-container{
   width: 960px;
   height: auto;
   margin: auto;
   background: $white;
 }

 .wrapper-inner{
   color: $gray-4;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   overflow: hidden;
 }

 .inner-class{
   background-color: $white;
   clear: none;
   color: $gray-4;
   float:left;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   width: 960px;
 }

 .inner-content{
   color: $gray-4;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   margin-left: 0px;
   margin-right: 0px;
   min-height: 1px;
   overflow: visible;
   word-wrap: break-word;
 }

 .inner-section{
   color: $gray-4;
   display: block;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   margin-left: 0px;
   margin-right: 0px;
   padding: 25px;
   word-wrap: break-word;	
   /* IITBombayX related change for viewing website from mobile device. 2nd Nov 2015*/
   height: 100%;
 }

 .field-page-tagline{
   color: $m-gray-d4;
   font-weight: 300;
   border-bottom: 1px solid $border-color-l3;
   font-size: 1.5em;
   line-height: 1.45em;
   margin: 0px 0px 0.7em;
   padding: 0px 0px 0.45em;
   font-family: $font_family1; 
   text-transform:none; 
   letter-spacing:0px;
 }

 .field-page-body{
   color: $gray-4;
   font-family: $font_family1;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   word-wrap: break-word;
   text-align: justify;
 }

 .field-page-body p{
   color: $gray-4;
   font-family: $font_family1;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   margin: 0px 0px 16px 0px;
   word-wrap: break-word;
 }

 strong{
   color: $black;
   font-family: $font_family1;
   font-size: 16px;
   font-weight: 700;
   line-height: 24px;
   word-wrap: break-word;
 }

 .ul-class{
   font-family: $font_family1;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   margin: 16px 0px 16px 0px;
   padding:0px 0px 0px 40px;
   word-wrap: break-word;
 }

 .ul-class li{
   color: $gray-4;
   font-family: $font_family1;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   word-wrap: break-word;
 }

 .table_column01{
   background-color: $table-coloumn_bg;
 }

 .table_column02{
   padding:0px;
 }

 .sidebar{
   padding-top:53px;
   padding-left:52px;
 }

 .sidemenu{
   border: 0px none $gray-4;
   color: $gray-4;
   font-family: $font_family1;
   font-size: 14.4px;
   font-weight: 400;
   line-height: 24px;
   list-style: outside none none;
   margin: 0px;
   padding: 0px;
   text-align:left;
   word-wrap: break-word;
 }

 .sidemenu li{
   color: $gray-4;
   font-family: $font_family1;
   font-size: 14.4px;
   font-weight: 400;
   line-height: 24px;
   list-style: outside none none;
   margin: 0px;
   padding: 10px 10px 10px 0px;
   text-align:left;
   text-transform: uppercase;
   word-wrap: break-word;
   text-transform: none;
 }

 .sidemenu li a{
   //color: $gray-4;
   font-family: $font_family1;
   font-size: 14.4px;
   font-weight: 600;
   line-height: 24px;
   list-style: outside none none;
   text-align:left;
   text-decoration: none !important;
   text-transform: uppercase;
   word-wrap: break-word;
 }

 .ac-container{
   width: 690px;
   text-align: left;
   margin: 10px auto 30px auto;
   z-index:0;
 }

 .ac-container label{
   font-family: $font_family1;
   position: relative;
   z-index: 20;
   font-style:normal;
   font-weight:400;
   display: block;
   //height: 30px;
   cursor: pointer;
   color: $gray-4;
   text-shadow: 1px 1px 1px rgba($white,0.8);
   line-height: 33px;
   font-size: 16px;
   border-bottom:5px;
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= $white , endColorstr= $gray-3 ,GradientType=0 );
   padding: 5px 40px 5px 40px;
   background: $iitbx_faq_image01 no-repeat scroll 0px 0px;
   background-position:left;
   left:0px;
   height: auto;
 }

 .ac-container label:hover{
   background: $white;
   color: $black;
   background: transparent $iitbx_faq_image01 no-repeat center;
   background-position:left;
 }

 .ac-container input:checked + label, .ac-container input:checked + label:hover {
   color: $black;
   border-bottom: 1px solid $border-color-l1;
   background: $iitbx_faq_image02 transparent no-repeat center;
   background-position:left;
 }

 .ac-container label:hover:after, .ac-container input:checked + label:hover:after {
   content: '';
   position: absolute;
   width: 24px;
   height: 24px;
   left: 0px;
   //right: 5px;
   top: 10px;
   //background: $iitbx_faq_image02 transparent no-repeat center center;
 }

 .ac-container input:checked + label:hover:after {
   //background: $iitbx_faq_image02 transparent no-repeat center center;
 }

 .ac-container input {
   display: none;
 }

 .ac-container article{
   font-family: $font_family1;
   background: rgba($white, 0.5);
   margin-top: -1px;
   overflow: hidden;
   height: 0px;
   position: relative;
   z-index: 10;
   -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
   -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
   -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
   -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
   transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
 }

 .ac-container article p{
   font-family: $font_family1;
   color: $black;
   font-size: 0.8em;
   line-height: 1.5em;
   padding: 20px;
   text-align:justify;
   /*text-shadow: 1px 1px 1px rgba(255,255,255,0.8);*/
 }

 .ac-container input:checked ~ article{
   -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
   -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
   -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
   -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
   transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
   /*box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);*/
 }

 .ac-container input:checked ~ article.ac-small{
   height: 90px;
 }

 .ac-container input:checked ~ article.ac-medium{
   height: 120px;
 }

 .ac-container input:checked ~ article.ac-large{
   height: 160px;
 }

 .ac-container input:checked ~ article.ac-elarge{
   height: 300px;
 }

 .inner-section h2{
   text-transform:none;
   letter-spacing:0px;
 }
 .site_name{
 text-transform:lowercase;
 }
}



//---------------------Hindi Learners FAQ page CSS-------------------//

.learners_faq_hi {
 header.global {
  position: fixed;
  top: 0px;
  z-index: 50;
 }

  header.global nav {
   width: 960px;
 }
 .wrapper-footer footer {
   width: 960px !important;
 }

 .wrapper-footer footer .open-edx_logo, #footer-openedx .open-edx_logo {
   padding-top: 40px !important;
 }

 .content-wrapper {
   padding-bottom: 0px;
   margin-top: 76px;
 }

 .about{
   padding: 0px !important;
 }

 .main_content{
   width: 100%;
   height: auto;
   margin: auto;
 }

 .banner{
   width: 960px;
   height: auto;
   margin: auto;
   background: $white;
   border-bottom: 1px solid $border-color-l3;
 }

 .wrapper{
   //width: 100%;
   height: auto;
   margin: auto;
   //background: #F7F7F7;
 }

 .wrapper-container{
   width: 960px;
   height: auto;
   margin: auto;
   background: $white;
 }

 .wrapper-inner{
   color: $gray-4;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   overflow: hidden;
 }

 .inner-class{
   background-color: $white;
   clear: none;
   color: $gray-4;
   float:left;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   width: 960px;
 }

 .inner-content{
   color: $gray-4;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   margin-left: 0px;
   margin-right: 0px;
   min-height: 1px;
   overflow: visible;
   word-wrap: break-word;
 }

 .inner-section{
   color: $gray-4;
   display: block;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   margin-left: 0px;
   margin-right: 0px;
   padding: 25px;
   word-wrap: break-word;	
   /* IITBombayX related change for viewing website from mobile device. 2nd Nov 2015*/
   height: 100%;
 }

 .field-page-tagline{
   color: $m-gray-d4;
   font-weight: 300;
   border-bottom: 1px solid $border-color-l3;
   font-size: 1.5em;
   line-height: 1.45em;
   margin: 0px 0px 0.7em;
   padding: 0px 0px 0.45em;
   font-family: $font_family2; 
   text-transform:none; 
   letter-spacing:0px;
 }

 .field-page-body{
   color: $gray-4;
   font-family: $font_family2;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   word-wrap: break-word;
   text-align: justify;
 }

 .field-page-body p{
   color: $gray-4;
   font-family: $font_family2;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   margin: 0px 0px 16px 0px;
   word-wrap: break-word;
 }

 strong{
   color: $black;
   font-family: $font_family2;
   font-size: 16px;
   font-weight: 700;
   line-height: 24px;
   word-wrap: break-word;
 }

 .ul-class{
   font-family: $font_family2;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   margin: 16px 0px 16px 0px;
   padding:0px 0px 0px 40px;
   word-wrap: break-word;
 }

 .ul-class li{
   color: $gray-4;
   font-family: $font_family2;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   word-wrap: break-word;
 }

 .table_column01{
   background-color: $table-coloumn_bg;
 }

 .table_column02{
   padding:0px;
 }

 .sidebar{
   padding-top:53px;
   padding-left:52px;
 }

 .sidemenu{
   border: 0px none $gray-4;
   color: $gray-4;
   font-family: $font_family2;
   font-size: 14.4px;
   font-weight: 400;
   line-height: 24px;
   list-style: outside none none;
   margin: 0px;
   padding: 0px;
   text-align:left;
   word-wrap: break-word;
 }

 .sidemenu li{
   color: $gray-4;
   font-family: $font_family2;
   font-size: 14.4px;
   font-weight: 400;
   line-height: 24px;
   list-style: outside none none;
   margin: 0px;
   padding: 10px 10px 10px 0px;
   text-align:left;
   text-transform: uppercase;
   word-wrap: break-word;
   text-transform: none;
 }

 .sidemenu li a{
   //color: $gray-4;
   font-family: $font_family2;
   font-size: 15px;
   font-weight: 600;
   line-height: 24px;
   list-style: outside none none;
   text-align:left;
   text-decoration: none !important;
   text-transform: uppercase;
   word-wrap: break-word;
 }

 .ac-container{
   width: 690px;
   text-align: left;
   margin: 10px auto 30px auto;
   z-index:0;
 }

 .ac-container label{
   font-family: $font_family2;
   position: relative;
   z-index: 20;
   font-style:normal;
   font-weight:400;
   display: block;
   //height: 30px;
   cursor: pointer;
   color: $gray-4;
   text-shadow: 1px 1px 1px rgba($white,0.8);
   line-height: 33px;
   font-size: 16px;
   border-bottom:5px;
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= $white , endColorstr= $gray-3 ,GradientType=0 );
   padding: 5px 40px 5px 40px;
   background: $iitbx_faq_image01 no-repeat scroll 0px 0px;
   background-position:left;
   left:0px;
   height: auto;
 }

 .ac-container label:hover{
   background: $white;
   color: $black;
   background: transparent $iitbx_faq_image01 no-repeat center;
   background-position:left;
 }

 .ac-container input:checked + label, .ac-container input:checked + label:hover {
   color: $black;
   border-bottom: 1px solid $border-color-l1;
   background: $iitbx_faq_image02 transparent no-repeat center;
   background-position:left;
 }

 .ac-container label:hover:after, .ac-container input:checked + label:hover:after {
   content: '';
   position: absolute;
   width: 24px;
   height: 24px;
   left: 0px;
   //right: 5px;
   top: 10px;
   //background: $iitbx_faq_image02 transparent no-repeat center center;
 }

 .ac-container input:checked + label:hover:after {
   //background: $iitbx_faq_image02 transparent no-repeat center center;
 }

 .ac-container input {
   display: none;
 }

 .ac-container article{
   font-family: $font_family2;
   background: rgba($white, 0.5);
   margin-top: -1px;
   overflow: hidden;
   height: 0px;
   position: relative;
   z-index: 10;
   -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
   -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
   -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
   -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
   transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
 }

 .ac-container article p{
   font-family: $font_family2;
   color: $black;
   font-size: 0.8em;
   line-height: 1.5em;
   padding: 20px;
   text-align:justify;
   /*text-shadow: 1px 1px 1px rgba(255,255,255,0.8);*/
 }

 .ac-container input:checked ~ article{
   -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
   -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
   -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
   -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
   transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
   /*box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);*/
 }

 .ac-container input:checked ~ article.ac-small{
   height: 90px;
 }

 .ac-container input:checked ~ article.ac-medium{
   height: 120px;
 }

 .ac-container input:checked ~ article.ac-large{
   height: 160px;
 }

 .ac-container input:checked ~ article.ac-elarge{
   height: 300px;
 }

 .inner-section h2{
   text-transform:none;
   letter-spacing:0px;
 }
 
 .site_name{
 text-transform:lowercase;
 }
}
